GENERAL_IS_LOCAL_ECB_CLIENT=true
GENERAL_IS_LOCAL_VAULT_STORE=true
GENERAL_IS_LOCAL_LIVE_STORE=true

GENERAL_HTTP_TIMEOUT=10.0

HTTP_ECB_URL="https://data-api.ecb.europa.eu/service/data/EXR/D..EUR.SP00.A"
HTTP_ECB_FORMAT="csvdata"
HTTP_ECB_OBSERVATIONS=1
